.result-bar {
    width: 300px;
    height: 20px;
    display: block;
    padding: 5px;
    text-align: center;
}
.red {
    background: red;
}
.yellow {
    background: yellow
}
.green {
    background: green;
}
.btn-new-quiz{
    border-radius: 5px;
    margin-top: 20px;
}