
.form {
    select {
        border-radius: 5px;
        height: 35px;
        border: 1px solid gray;
        min-width: 350px;
        padding: 0 5px;
        &.category {
           border-radius: 5px 0 0 5px;
        }
        &.difficulty{
            border-radius: 0 0 0 0;
        }
    }
    .btn {
        border: 1px solid gray;
        background: white;
        height: 35px;
        border-radius: 0 5px 5px 0 ;
        padding: 0 15px;
        cursor: pointer;
        &:hover {
            background: gray;
        }
    }
}